*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

body{
  font-family : sans-serif;
}

a{
  color : #2398bb;
  text-decoration : none;
}

.btn{
  padding : 10px 15px;
  margin-top : 10px;
  align-self : flex-end;
  background-color : #2398bb;
  border : none;
  border-radius : 5px;
  color : white;
  font-weight : bold;
}

header, main, footer{
  padding : 30px;
  border : 1px solid #eee;
}

header{
  display : flex;
  flex-wrap : wrap;
  justify-content: space-between;
  align-items: center;
}

header nav{
  display : flex;
  flex-wrap : wrap;
}

header nav a{
  padding : 0 10px;
}

header nav a:first-child{
  padding-left : 0;
}

main{
  min-height : calc(100vh - 160px);
}

table{
  border : 1px solid #ececec;
  border-collapse: collapse;
  margin-top : 30px;
}

td, th{
  border : 1px solid #ececec;
  padding : 10px;
}

.register, .signin, .dashboard{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  display : flex;
  flex-direction: column;
  padding : 30px;
  border : 1px solid #ddd;
  border-radius : 10px;
  margin-top : 30px;
}

form .field{
  padding : 10px 0;
  display : flex;
}

form .field label{
  flex-grow : 1;
}

form .field input{
  border : 1px solid #dcdcdc;
  border-radius : 5px;
  padding : 5px;
  margin-left : 10px;
}

.dashboard table{
  min-width : 50%;
}

.dashboard a{
  align-self : flex-start;
  margin-top : 30px;
}

.row{
  display : flex;
  flex-wrap : wrap;
  justify-content: space-between;
  width : 100%;
}

.home .products_list{
  display : flex;
  flex-wrap : wrap;
}

.home .products_list > div{
  border : 1px solid #ececec;
  padding : 30px 10px;
  flex-grow : 1;
  display : flex;
  flex-direction: column;
  margin : 10px;
}

.home .products_list .prod_img{
  max-width : 100px;
}

.home .products_list .prod_img img{
  max-width : 100%;
}

.home .products_list > div a{
  margin-top : 15px;
}

.cart{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart table{
  min-width : 70%;
}

.cart table th,
.cart table td{
  text-align : right;
  border : 1px solid #ccc;
}

.cart table tbody tr:nth-child(odd){
  background-color : #efefef;
}

.cart table thead tr th:first-child,
.cart table thead tr th:nth-child(2),
.cart table tr td:first-child,
.cart table tr td:nth-child(2){
  text-align: center;
}

.cart table tr:last-child td:nth-child(2){
  text-align : right;
}

.cart > a{
  align-self: flex-end;
  margin-right : 15%;
  margin-top : 15px;
  background-color : ;
}